{% extends 'base.html' %}
{% load static %}
{% block content %}
<br>
<br>
<div class="container center">
<form action="login" method="POST">
  {% csrf_token %}
    <h2>Enter the login details</h2>
  <h4>Username</h4>
  <input type="text" name="username" placeholder="Enter your Username"><br>
 <h4>Password</h4>
    <input type="password" name="password" placeholder="Enter your password"><br><br>
    <button  type ="submit" >Login</button>
    <a  class="btn btn-warning" href='/login/register' >Register </a>
</form>
</div>
{% endblock %}